<section>
  <img src="images/blank-profile-picture.png" class="rounded-circle img-thumbnail"
  width="200" height="200">

  <h3>Name</h3>
  <h3>Username</h3>
 <div>

 <span>Florida</span>

{{!-- //calender// --}}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>
</div> 

</section>











<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div class="form-floating mb-3">
      <input id="post-title" name="post-title" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput"> Title </label>
    </div>
    <div class="form-floating">
      <input id="content" name="content" type="text" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword"> Whats Poppin? </label>
    </div>
    <button type="submit" class="btn btn-warning">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>