<form class="login-form">
  <img class="mb-4" src="https://img.icons8.com/flat-round/64/000000/bee--v1.png" alt="Bumble Bee" width="64" height="64">
  <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>

  <div class="form-floating">
    <input type="text" class="form-control" id="username-login" placeholder="Username">
    <label for="username-login">Username</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password-login" placeholder="Password">
    <label for="password-login">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
</form>

<a href="/signup">
  <button class="w-100 btn btn-lg btn-primary" type="submit" id="signup-button">Sign Up Instead</button>
</a>

<script src="/javascript/login.js"></script>