<form class="login-form">
  <img class="mb-4" src="https://img.icons8.com/flat-round/64/000000/bee--v1.png" alt="Bumble Bee" width="64" height="64">
  <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>

  <div class="form-floating">
    <input type="text" class="form-control" id="username-login" placeholder="Username">
    <label for="username-login">Username</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password-login" placeholder="Password">
    <label for="password-login">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>

<form class="signup-form">
  <h1 class="h3 mb-3 fw-normal">Sign Up Instead</h1>

  <div class="form-floating">
    <input type="text" class="form-control" id="username-signup" placeholder="Username">
    <label for="username-signup">Username</label>
  </div>
  <div class="form-floating">
    <input type="email" class="form-control" id="email-signup" placeholder="example@example.com">
    <label for="email-signup">Email</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password-signup" placeholder="Password">
    <label for="password-signup">Password</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
  <p class="mt-5 mb-3 text-muted">&copy; StayBuzzin 2021</p>
</form>

<script src="/javascript/login.js"></script>