<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StayBuzzin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<form class="login-form">
  <img class="mb-4" src="https://img.icons8.com/flat-round/64/000000/bee--v1.png" alt="Bumble Bee" width="64"
    height="64">
  <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>

  <div class="form-floating">
    <input type="text" class="form-control" id="username-login" placeholder="Username">
    <label for="username-login">Username</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password-login" placeholder="Password">
    <label for="password-login">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
    <a href="/signup">
      <button class="w-100 btn btn-lg btn-primary" type="button">Sign Up Instead</button>
    </a>
  </div>
  
</form>

<script src="/javascript/login.js"></script>
