<form class="signup-form">
  <h1 class="h3 mb-3 fw-normal">Sign Up Instead</h1>
  <div class="form-floating">
    <input type="text" class="form-control" id="username-signup" placeholder="Username">
    <label for="username-signup">Username</label>
  </div>
  <div class="form-floating">
    <input type="email" class="form-control" id="email-signup" placeholder="example@example.com">
    <label for="email-signup">Email</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="password-signup" placeholder="Password">
    <label for="password-signup">Password</label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
  <p class="mt-5 mb-3 text-muted">&copy; StayBuzzin 2021</p>
</form>

<script src="/javascript/signup.js"></script>