* {
    box-sizing: border-box;
    margin: 0;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #cfd8d5;
    background-color: #cfd8d5;
}

a {
    text-decoration: none;
    color: #333533;
    font-weight: bold;
    transition: color 0.1s;
    margin-top: 25px;

}

.sidebar a {
    text-decoration: none;
    color: #333533;
    font-weight: bold;
    transition: color 0.1s;
    margin-top: 25px;
    display: inline-block;
}

.sidebar {
    background-color: #333533;
    background-image: 
        linear-gradient(
            to right,
            grey, 1%, #cfd8d5
        );
    margin-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
}

a:hover {
    background-color: #e8eddf;
    border-radius: 5px;
    transition: background-color 1s;
}

button {
    background-color: #333533;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color 0.1s;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    margin-top: 25px;
    margin-right: 24px;
}

button:hover {
    color: #f5cb5c;
}

a img {
    margin-top: 12px;
}

.post-list {
    margin: 0;
    padding: 0;
}

textarea, input {
    padding: 0.5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}


textarea {
    min-width: 40%;
    min-height: 100px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-brand {
    padding-left: 130px;
    padding-right: 10px;
    padding-top:  15px;
    padding-bottom: 30px;
    background-color: #e8eddf;
    border-radius: .5rem;
    
    
    
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 28px;
}

main {
    flex: 1;
    padding: 2% 4%;
    border: 1px solid #E8eddf;
    background-color: #e8eddf;
    border-radius: .5rem;
    margin-top: 15%;
    color: #333533;

}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color 0.1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: #3486eb;
}

.delete-post-btn {
    background-color: #d41414;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.upvote-btn {
    background-color: #465545;
    transition: background-color 0.1s;
}

.upvote-btn:hover {
    background-color: #1f9c13;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #E8eddf;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: 0.5%;
    opacity: 0.6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    
    width: 100%;
    color: black;
    text-align: center;
}
